<div class='header header-absolute'>
  <div class="container">
      <a href="{{ .Site.BaseURL }}"><img height={{ .Site.Params.logo.mobile_height }} width={{ .Site.Params.logo.mobile_width }} alt="{{ .Site.Params.logo.alt }}" src="{{ .Site.Params.logo.mobile | relURL }}" /></a>
    {{ partial "main-menu.html" . }}
    {{ partial "hamburger.html" . }}
      <a href="{{ .Site.BaseURL }}"><img height={{ .Site.Params.acalogo.mobile_height }} width={{ .Site.Params.acalogo.mobile_width }} alt="{{ .Site.Params.acalogo.alt }}" src="{{ .Site.Params.acalogo.mobile | relURL }}" /></a>
  </div>
</div>
